@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>Your login attempt was unsuccessful. Please check your username and password and try again..</p>
<a href="@Url.Action("Login", "Account")">Go to Login Page</a>
